// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.container-landing {
  width: 100%;
  height: 100vh;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('oriental.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-title {
  font-family: 'Megrim', cursive;
  text-shadow: 1px 1px 2px #212121;
  padding: 0px;
  margin: 0px;
}

.banner-text {
  max-width: 450px;
  position: relative;
  top: 200px;
  left: 50px;
  font-size: 35px;
  text-shadow: 1px 1px 2px #212121;
}

.banner-text h6 {
  max-width: 300px;
}

// -------------------------------------------------
// Search bar

// body,html{
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     background: #e74c3c !important;
//     }

