<div class="container-landing">
  <div class="banner">
  <%= render 'shared/navbar' %>
    <div class="banner-text text-white">
      <h6>Do you ever come come whishing for some confort food and wise advice?</h6>
      <p>Gradmothers from around the world welcome you into their homes.</p>
    </div>
  </div>
</div>