<div class="container-landing">
  <div class="banner">
  <%= render 'shared/home_navbar' %>
    <div class="banner-text text-white">
      <h6>Do you ever come home wishing for some comfort food and wise advice?</h6>
      <p>Grandmothers from around the world welcome you into their homes.</p>
    </div>
  </div>
</div>