
<div id="sign-background">
  <div class="container-sign">
    <div class="sign">
      <h1>Create a new experience:</h1>
      <%= render 'form', experience: @experience %>
    </div>
  </div>
</div>