
<div id="experience-background">
  <div class="container-sign">
    <div class="sign">
      <h2>Create an experience</h2>
      <%= render 'form', experience: @experience %>
    </div>
  </div>
</div>