.dashboard {
  width: 75%;
  height: 75vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.dashboard-inner {
  height: max-content;
}

.section-dash {
  height: 95%;
  border-bottom: 1px solid #6e6d6d;
  padding: 16px;
}
