.exp-page-container {
 margin: 30px 50px;
 background-color: lightgray;
}

.exp-page-container h1 {
  margin-left: 10px;
}

.exp-container {
  // background-color: gray;
  margin: 10px 10px;
  // padding: 20px;
//   // overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 230px;
  border-radius: 10px;
  align-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
}

.exp-card-head {
 background-color: lightblue;
 // background-repeat: no-repeat;
 flex-grow: 1;
 padding: 15px;
}

.card-head p {
font-size: 14px;
margin: 0px;
}

.card-footer2 {
    // padding-top: 70px;
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 15px;
    vertical-align: bottom;
    text-align: bottom;
}

.card-footer2 p {
  font-size: 12px;

}


