

.exp-container {
  // overflow: hidden;
  display: flex;

  margin: 10px;
  height: 230px;
  // padding: 10px;
  // border-radius: 5px;
  align-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  flex-direction: column;
}
.card-head {
 background-image: url("https://images.unsplash.com/photo-1525289792754-f023db9583fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
 background-repeat: no-repeat;
 flex-grow: 1;
 padding: 15px;
}

.card-head p {
font-size: 14px;
margin: 0px;
}

.card-footer2 {
    // padding-top: 70px;
    background-color: white;
    padding: 15px;
}

.card-head {
  background-color: lightgrey;
}

