.grandma-details {
  // position: relative;
  background-color: rgba(237,231,227,1);
  // height: 250px;
  margin-bottom: 0px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.grandma-details p {
  margin-bottom: 0;
}

// .grandma-dt {
//   background-color: white;
//   // position: absolute;
//   // left: 0;
//   // top: 0;
// }

.center-btns {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text p {
  margin-bottom: 0;
}

.experience-details {
  height: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.experience-details h3 {
  font-size: 20px;
  background-color: rgba(237,231,227,1);
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}

.experience-details h6 {
  font-size: 15px;
  background-color: #5E0B15;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline;
}




